################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01_QtTest/01_QtTest.pro.user.3.2-pre1
################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01_QtTest/01_QtTest.pro.user.3.2-pre1
/01_QtTest/01_QtTest.pro.user.21
/01_QtTest/01_QtTest.pro.user
/02_HelloQt
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/ipch/AutoPCH/2574375a53deeb1d/MAIN.ipch
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/ipch/AutoPCH/4eadff53c7c53116/SUBWIDGET.ipch
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/ipch/AutoPCH/cf6076e5ef280231/MAINWIDGET.ipch
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/Browse.VC.db
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/Browse.VC.opendb
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/.suo
*.lastbuildstate
*.tlog
/03_SignalAndSlot/debug/qmake/temp
/03_SignalAndSlot/debug/qmake
/03_SignalAndSlot/debug
/03_SignalAndSlot/release
/build-01_QtTest-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/build-02_HelloQt-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/build-03_SignalAndSlot-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/03_SignalAndSlot/main_REMOTE_924.cpp
/03_SignalAndSlot/main_REMOTE_868.cpp
/03_SignalAndSlot/main_REMOTE_812.cpp
/03_SignalAndSlot/main_LOCAL_924.cpp
/03_SignalAndSlot/main_LOCAL_868.cpp
/03_SignalAndSlot/main_LOCAL_812.cpp
/03_SignalAndSlot/main_BASE_924.cpp
/03_SignalAndSlot/main_BASE_868.cpp
/03_SignalAndSlot/main_BASE_812.cpp
/03_SignalAndSlot/main_BACKUP_924.cpp
/03_SignalAndSlot/main_BACKUP_868.cpp
/03_SignalAndSlot/main_BACKUP_812.cpp
*.ipch
/03_SignalAndSlot/03_SignalAndSlot.vcxproj.user
/03_SignalAndSlot/03_SignalAndSlot.vcxproj.filters
/03_SignalAndSlot/03_SignalAndSlot.vcxproj
/03_SignalAndSlot/03_SignalAndSlot.sln
/03_SignalAndSlot/03_SignalAndSlot.pro.user.3.2-pre1
/03_SignalAndSlot/03_SignalAndSlot.pro.user
/03_SignalAndSlot/.qmake.stash
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/Solution.VC.db-wal
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/Solution.VC.db-shm
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/Solution.VC.db
/03_SignalAndSlot/x64/Debug/05_MyQt.pdb
/03_SignalAndSlot/x64/Debug/05_MyQt.ilk
/03_SignalAndSlot/x64/Debug/05_MyQt.exe
/03_SignalAndSlot/x64/Debug/04_QT_Coordinate.pdb
/03_SignalAndSlot/x64/Debug/04_QT_Coordinate.ilk
/03_SignalAndSlot/x64/Debug/04_QT_Coordinate.exe
/04_QT_Coordinate/x64/Debug/moc/moc_MyWidget.cpp
/04_QT_Coordinate/x64/Debug/vc141.pdb
/04_QT_Coordinate/x64/Debug/qt_work.log
/04_QT_Coordinate/x64/Debug/qmake/temp/qtvars_x64_Debug.props
/04_QT_Coordinate/x64/Debug/qmake/temp/qtvars.pro
/04_QT_Coordinate/x64/Debug/qmake/temp/qtvars.log
/04_QT_Coordinate/x64/Debug/qmake/temp/props.txt
/04_QT_Coordinate/x64/Debug/qmake/temp/Makefile
/04_QT_Coordinate/x64/Debug/qmake/temp/01B667B6-5DF8-48AC-8978-D9255A4058DC.04_QT_Coordinate.designtime.idx
/04_QT_Coordinate/x64/Debug/qmake/temp/.qmake.stash
/04_QT_Coordinate/x64/Debug/qmake/qtvars_x64_Debug.props
/04_QT_Coordinate/x64/Debug/MyWidget.obj
/04_QT_Coordinate/x64/Debug/moc_MyWidget.obj
/04_QT_Coordinate/x64/Debug/main.obj
/04_QT_Coordinate/x64/Debug/04_QT_Coordinate.log
/04_QT_Coordinate/04_QT_Coordinate.vcxproj.user
/04_QT_Coordinate/04_QT_Coordinate.vcxproj
/build-04_QT_Coordinate-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/04_QT_Coordinate/x64/Debug
/04_QT_Coordinate/04_QT_Coordinate.vcxproj.filters
/04_QT_Coordinate/04_QT_Coordinate.pro.user
