################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01_QtTest/01_QtTest.pro.user.3.2-pre1
################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/01_QtTest/01_QtTest.pro.user.3.2-pre1
/01_QtTest/01_QtTest.pro.user.21
/01_QtTest/01_QtTest.pro.user
/02_HelloQt
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/ipch/AutoPCH/2574375a53deeb1d/MAIN.ipch
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/ipch/AutoPCH/4eadff53c7c53116/SUBWIDGET.ipch
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/ipch/AutoPCH/cf6076e5ef280231/MAINWIDGET.ipch
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/Browse.VC.db
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/Browse.VC.opendb
/03_SignalAndSlot/.vs/03_SignalAndSlot/v15/.suo
*.lastbuildstate
*.tlog
/03_SignalAndSlot/debug/qmake/temp
/03_SignalAndSlot/debug/qmake
/03_SignalAndSlot/debug
/03_SignalAndSlot/release
/build-01_QtTest-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/build-02_HelloQt-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/build-03_SignalAndSlot-Desktop_Qt_5_14_2_MinGW_64_bit-Debug
/03_SignalAndSlot/main_REMOTE_924.cpp
/03_SignalAndSlot/main_REMOTE_868.cpp
/03_SignalAndSlot/main_REMOTE_812.cpp
/03_SignalAndSlot/main_LOCAL_924.cpp
/03_SignalAndSlot/main_LOCAL_868.cpp
/03_SignalAndSlot/main_LOCAL_812.cpp
/03_SignalAndSlot/main_BASE_924.cpp
/03_SignalAndSlot/main_BASE_868.cpp
/03_SignalAndSlot/main_BASE_812.cpp
/03_SignalAndSlot/main_BACKUP_924.cpp
/03_SignalAndSlot/main_BACKUP_868.cpp
/03_SignalAndSlot/main_BACKUP_812.cpp
*.ipch
/03_SignalAndSlot/03_SignalAndSlot.vcxproj.user
/03_SignalAndSlot/03_SignalAndSlot.vcxproj.filters
/03_SignalAndSlot/03_SignalAndSlot.vcxproj
/03_SignalAndSlot/03_SignalAndSlot.sln
/03_SignalAndSlot/03_SignalAndSlot.pro.user.3.2-pre1
/03_SignalAndSlot/03_SignalAndSlot.pro.user
/03_SignalAndSlot/.qmake.stash
